@import "variables";
$split-width: 51.875em;

.docs {
	display: flex;
	flex-wrap: nowrap;
	justify-content: start;
	position: relative;

	@media (max-width: $split-width) {
		flex-direction: column;
	}
	
	.show-menu {
		display: none;
		padding: 1em 5%;

		& .unordered-list-icon {
			width: 2em;
			color: darken($light-grey, 25%);
		}

		@media (max-width: $split-width) {
			display: block;
		}
	}

	.docs-index {
		margin-top: 3em;
		padding: 0 3em;
		z-index: 3;

		@media (max-width: $split-width) {
			background-color: darken(white, 2%);
			margin-top: 0;
			padding: 0 0.75em;
			position: absolute;
			left: -100vh;
			transition-property: left;
			transition-duration: 0.4s;
			height: 100%;
			display: block;
			overflow-y: scroll;
		}

		.arrow-left-icon {
			display: none;
			padding-top: 1em;
			width: 2em;

			@media (max-width: $split-width) {
				display: block;
			}
		}

		*:not(hr) {
			width: fit-content;
			display: block;
			font-size: 1.1em;
			line-height: 1.3em;
			white-space: nowrap;

			@media (max-width: $split-width) {
				width: 100%;
			}
		}

		h2 {
			padding-top: 0.6em;
			text-decoration: underline;
		}

		h2:hover, p:hover {
			cursor: default;
		}

		a {
			&:not(.colored-link) {
				color: darken($light-grey, 25%);
			}

			&:hover {
				color: $orange;
			}
		}

	}
	 
	.post {
		padding: 3em 5%;
		color: $dark-grey;
		max-width: 50em;
		// So apparently flexbox items have a default value of 'min-size: auto', which is causing overflows when the document post is on a separate line from the index. Don't know why that causes overflow issues, but this fixes it.
		// See https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/.
		min-width: 0;

		@media (max-width: $split-width) {
			padding: 0 5% 3em;
		}
	
		.title {
			font-size: 2.8em;
		}

		hr {
			border: none;
			background-color: $light-grey;
			height: 0.1em;
			margin: 0;
		}

		.content {
			margin-left: auto;
			margin-right: auto;

			h2 {
				font-size: 2em;
				margin-top: 0.7em;
			}

			h3 {
				font-size: 1.6em;
				margin-top: 0.7em;
			}

			p:not(li p), li {
				font-size: 1.2em;
				line-height: 1.3em;
			}

			p {
				padding-top: 1em;
			}
		
			ul {
				padding-top: 1em;
			}

			.heading {
				.link-icon {
					color: darken($light-grey, 20%);
					transition-property: color;
					visibility: hidden;
				
					svg {
						height: 0.7em;
						width: auto;
					}
				}

				&:hover {
					.link-icon {
						visibility: visible;

						&:hover {
							color: $orange;
						}
					}
				}
			}
		}
	
		.author {
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				height: 5em;
				width: 5em;
				border-radius: 50%;
				margin: 1em 0;
			}

			.author-name {
				font-size: 1.5em;
			}
		}
	}
}
