@import "variables";


.toggle-menu {
	display: flex;

	p {
		padding-top: 0em; // Global styles set a top padding on p elements.
		padding: 0 0.3em;
		border-bottom: 0.15em solid $light-grey;

		&.active {
			border-bottom-color: darken($light-grey, 20%);
		}

		&:hover {
			cursor: pointer;
		}
	}
}
