@import "variables";


.toggle-menu {
	display: flex;

	p {
		padding: 0 0.3em;
		margin-bottom: 0 !important;
		border-bottom: 0.15em solid $light-grey;

		&.active {
			border-bottom-color: darken($light-grey, 20%);
		}

		&:hover {
			cursor: pointer;
		}
	}
}
