<header>
	{{ if hasPrefix .RelPermalink "/news" }}
	<a class="makedeb-brand" href="/news">
	{{ else }}
	<a class="makedeb-brand" href="/">
	{{ end }}
		<img class="makedeb-logo" src="/media/makedeb-logo.svg" alt="makedeb logo">
		<p class="makedeb-logo-text">makedeb</p>
	</a>
	
	<div class="links">
		<a href="https://{{ .Site.Params.makedeb_url }}">Homepage</a>
		<p>Docs</p>
		<a href="https://mpr.{{ .Site.Params.hw_url }}">MPR</a>
		<a href="https://{{ .Site.Params.makedeb_url }}/news">News</a>
		<a href="https://{{ .Site.Params.makedeb_url }}/donate">Donate</a>
	</div>
</header>
<hr class="header-hr">
