<head>
	{{ if .Page.IsHome }}
	<title>{{ .Site.Title }} - {{ .Site.Params.site_desc }}</title>
	{{ else if .Scratch.Get "title" }}
	<title>{{ .Scratch.Get "title" }} | {{ .Site.Title }}</title>
	{{ else }}
	<title>{{ .Page.Title }} | {{ .Site.Title }}</title>
	{{ end }}
	<meta name="description" content="{{ .Site.Params.site_desc }}.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ $style := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
	<link rel="icon" type="image/x-icon" href="/media/makedeb-logo.svg">
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	<!-- Syntax highlighting in code blocks -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
		<script src="/js/codeblock-copy.js"></script>
		<script src="/js/toggle-menu.js"></script>
</head>
